<div id="<%= dom_id meal %>">
  <p>
    <strong>Title:</strong>
    <%= meal.title %>
  </p>

  <p>
    <strong>Date eaten:</strong>
    <%= meal.date_eaten %>
  </p>

  <p>
    <strong>Meal type:</strong>
    <%= meal.meal_type %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= meal.calories %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= meal.notes %>
  </p>

  <p>
    <strong>Picture:</strong>
    <img src = <%= meal.picture%>> <!-- wie kann ich das mit  image_tag machen? https://api.rubyonrails.org/classes/ActionView/Helpers/AssetTagHelper.html#method-i-image_tag -->
    
  </p>

</div>
